body {
    color: white;
    background: rgb(244, 239, 239);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 85px;
}

header {
    border-bottom: solid 2px rgb(255, 105, 180);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 105, 180);
}

.chamada {
    background: rgb(255, 182, 193);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 35px;
}
p {
    font-size: 25px;
}



.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 35px;
}

.categoria-videos img {
opacity: 0.2;
height: 150px;

}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid white
}

.categoria h2 {
    color:  rgb(255, 105, 180);
}